{% extends "base5.html" %}

{% block content %}
<h1>Выберите викторину и введите её номер</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.number.label }}<br>
        {{ form.number(class="form-control") }}<br>
        {% for error in form.number.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary", value='Выбрать викторину') }}</p>
    {{message}}
</form>
<a class="btn btn-primary" href="/my_quizzes/my_quiz_list">Посмотреть список викторин</a>
<p></p>
{% endblock %}